<div class="container">
  <div class="row">
    <h1 class="mt-5 mb-3 text-center">Book a Flight</h1>

    <form [formGroup]="flightForm" (ngSubmit)="onSubmit(flightForm.value)">
      <div class="mx-auto mb-3 w-50">
        <label><b>Full Name</b></label>
        <span style="color: red;" *ngIf="flightForm.get('fullName')?.errors?.['required']">*จำเป็น</span>
        <input type="text" class="form-control" id="fullName" formControlName="fullName" required />
      </div>
      <div class="container">
        <div class="row g-2 justify-content-center">
          <div class="col-3">
            <label><b>From</b></label>
            <select class="form-select" formControlName="from">
              <option value="London">ลอนดอน</option>
              <option value="Bangkok">กรุงเทพ</option>
              <option value="Hongkong">ฮ่องกง</option>
              <option value="Berlin">เบอร์ลิน</option>
            </select>
          </div>


          <div class="col-3">
            <label><b>To</b></label>
            <select class="form-select" formControlName="to">
              <option value="London">ลอนดอน</option>
              <option value="Bangkok">กรุงเทพ</option>
              <option value="Hongkong">ฮ่องกง</option>
              <option value="Berlin">เบอร์ลิน</option>
            </select>
          </div>


        </div>
      </div>
      <div class="container">
        <div class="row g-2 justify-content-center mt-2">
          <div class="col-2">
            <label><b>Trip Type</b></label>
            <span style="color: red;" *ngIf="flightForm.get('type')?.errors?.['required']">*จำเป็น</span>
            <div class="mt-2">
              <input class="form-check-input" type="radio" value="OneWay" name="type" id="type" formControlName="type">
              <label class="form-check-label ms-2" for="type">One way</label>&nbsp;
              <input class="form-check-input" type="radio" value="return" name="type" id="type" formControlName="type">
              <label class="form-check-label ms-2" for="type">Return</label>
            </div>
          </div>


          <div class="col-3">
            <label><b>Departure</b></label>
            <span style="color: red;" *ngIf="flightForm.get('departure')?.errors?.['required']">*จำเป็น</span><br>
            <mat-form-field appearance="fill">
              <mat-label>Departure</mat-label>
              <input matInput [matDatepicker]="Departurepicker" [min]="startdate" formControlName="departure">
              <mat-datepicker-toggle matSuffix [for]="Departurepicker"></mat-datepicker-toggle>
              <mat-datepicker #Departurepicker></mat-datepicker>
            </mat-form-field>
          </div>


          <div class="col-3">
            <label><b>Arrival</b></label><br>
            <mat-form-field appearance="fill">
              <mat-label>Arrival</mat-label>
              <input matInput [matDatepicker]="Arrivalpicker" [min]="flightForm.value.departure"  formControlName="arrival" [max]="flightForm.value.arrival"> 
              <mat-datepicker-toggle matSuffix [for]="Arrivalpicker"></mat-datepicker-toggle>
              <mat-datepicker #Arrivalpicker></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row g-2 justify-content-center mt-2">
          <div class="col-3">
            <label><b>Adults</b></label>
            <span style="color: red;" *ngIf="flightForm.get('adults')?.errors?.['required']">*จำเป็น</span>
            <span style="color: red;" *ngIf="flightForm.get('adults')?.errors?.['max']">*ผู้โดยสารสามารถจองได้สูงสุด 10 ท่าน</span>
            <span style="color: red;" *ngIf="flightForm.get('adults')?.errors?.['pattern']">*กรุณาใส่จำนวนเป็นบวก</span>
            <input type="number" class="form-control" id="adults" formControlName="adults" value="0" required />
          </div>


          <div class="col-3">
            <label><b>Children</b></label>
            <span style="color: red;" *ngIf="flightForm.get('children')?.errors?.['max']">*ผู้โดยสารสามารถจองได้สูงสุด 10 ท่าน</span>
            <span style="color: red;" *ngIf="flightForm.get('children')?.errors?.['pattern']">*กรุณาใส่จำนวนเป็นบวก</span>
            <input type="number" class="form-control" id="children" formControlName="children" value="0" required />
          </div>


          <div class="col-3">
            <label><b>Infants</b></label>
            <span style="color: red;" *ngIf="flightForm.get('infants')?.errors?.['max']">*ผู้โดยสารสามารถจองได้สูงสุด 10 ท่าน</span>
            <span style="color: red;" *ngIf="flightForm.get('infants')?.errors?.['pattern']">*กรุณาใส่จำนวนเป็นบวก</span>
            <input type="number" class="form-control" id="infants" formControlName="infants" value="0" required />
          </div>
        </div>
      </div>


      <div class="col-8 d-grid gap-2 mt-3 mx-auto">
        <button class="btn btn-primary" [disabled]="flightForm.invalid" type="submit">Submit</button>
      </div>
    </form>

  </div>
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Trip Type</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Adults</th>
        <th scope="col">Children</th>
        <th scope="col">Infants</th>
      </tr>
    </thead>

    
    <tbody>
      <tr *ngFor="let F of flight">
        <td>{{ F.fullName }}</td>
        <td>{{ F.from}}</td>
        <td>{{ F.to}}</td>
        <td>{{ F.type}}</td>
        <td>{{ (F.departure.getMonth() + 1)+'/'+F.departure.getDate() +'/' +F.departure.getFullYear()}}</td>
        <td>{{ (F.arrival.getMonth() + 1) +'/' +F.arrival.getDate() + '/' + F.arrival.getFullYear()}}</td>
        <td>{{ F.adults}}</td>
        <td>{{ F.children}}</td>
        <td>{{ F.infants}}</td>
      </tr>
    </tbody>
  </table>
</div>

